#map {
  width: 100%;
  height: 500px;
  border-radius: 4px;
  box-shadow: 0 0 1px #222;
  position: relative;
}

#my_position {
  z-index: 4000;
  position: absolute;
  top: 15%;
  left: 0;
  background-color: var(--white-color);
  border: 1px solid var(--secondary-color);
  width: 30px;
  height: 30px;
  border-radius: 2px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 11px;
  padding: 0.5em 0.5em;
}
#my_position:hover {
  background-color: #f4f4f4;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  position: absolute;
  right: 50%;
  top: 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
