@import url('aside.css');
@import url('map.css');
@import url('article.css');
@import url('nav.css');
@import "all.min.css";

:root {
  --blue-color: #5095EC;
  --black-color: #505050;
  --secondary-color: #8F8F8F;
  --grey-color: #D3D8DE;
  --bg-color: #F1F1F1;
  --white-color: #FFFFFF;
	--secondary-bg-color: #FAFAFA;
}

body {
	font-family: 'Roboto', sans-serif;
	color: var(--black-color);
	font-size: 14px;
	line-height: 16.41px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	gap: 1rem;
}

ul {
	list-style: none;
	display: flex;
	gap: 16px;

}

a {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 10px;
	text-decoration: none;
	color: inherit;
}

button {
  cursor: pointer;
}

h3 {
	font-size: 18px;
	line-height: 21.09px;
}


section {
	height: 100vh;
	overflow: auto;
	display: flex;
	gap: 32px;
	background-color: var(--bg-color);
	padding: 32px;
}

article {
	width: 80%;
	/* max-width: 1080px; */
	background-color: var( --white-color);
	padding: 56px 32px 32px;
}

main {
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 19px;
	background-color: var( --white-color);
	width: 100%;
	padding: 18px 22px 32px 32px;
}

main h3 {
	font-weight: normal;
	font-size: 16px;
	line-height: 18.75px;
}

img {
	width: 100%;
}

select {
	background-color: inherit;
	border: none;
}
