@import url('aside.css');
@import url('map.css');
@import url('article.css');
@import url('nav.css');
@import url('resume.css');
@import 'all.min.css';

:root {
  --blue-color: #5095ec;
  --black-color: #505050;
  --secondary-color: #8f8f8f;
  --grey-color: #d3d8de;
  --bg-color: #f1f1f1;
  --white-color: #ffffff;
  --secondary-bg-color: #fafafa;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--black-color);
  font-size: 14px;
  line-height: 16.41px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  /* gap: 1rem; */
}

ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

a {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

h3 {
  font-size: 18px;
  line-height: 21.09px;
}
.main__container {
  height: 100vh;
  overflow: auto;
  background-color: var(--bg-color);
  padding: 32px;
}
.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 32px;
}


section {
  background-color: var(--bg-color);
  overflow: auto;
  height: 100vh;
  padding: 32px;
}


article {
  height: fit-content;
  /* width: 80%; */
  /* max-width: 1080px; */
  background-color: var(--white-color);
  padding: 56px 32px 32px;
}

main {
  overflow: hidden;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 19px;
  background-color: var(--white-color);
  width: 100%;
  padding: 18px 22px 32px 32px;
}

main h3 {
  font-weight: normal;
  font-size: 16px;
  line-height: 18.75px;
}

img {
  width: 100%;
}

select {
  background-color: inherit;
  border: none;
}
i:hover {
  color: black;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social__item-telegram {
  font-size: 20px;
}

.social__item-twitter {
  font-size: 10px;
  display: flex;
  width: 20px;
  height: 20px;
  background: var(--black-color);
  border-radius: 50%;
  color: var(--white-color);
}
.social__item-twitter:hover {
  background-color: rgb(49, 48, 48);
  transform: translateY(-2px);
  transition: all 0.5s ease-in-out;
}
.fa-twitter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width:1199px) {
  .container {
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  }
  article {
    padding: 32px 20px 20px;
  }
  main h3 {
    font-size: 14px;
  }
}

@media (max-width:769px) {
  .container {
  grid-template-columns: 1fr;
  }
  .resume__info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .input-block button {
    width: 180px;
  }
  .nav__profile-second {
    display: none;
  }
}

@media (max-width: 500px) {
  .nav__profile_title h3 {
    display: none;
  }
  .main__container {
    padding: 15px;
  }
  #map {
    max-height: 400px;
  }
  .resume__info p {
    margin-right: 0.5rem;
    line-height: 1.5;
  }
  .resume__contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  article:not(:first-child) {
    padding: 18px 9px;
  }
}

@media (min-width:1500px) {
  .input-block {
    gap: 15px;
  }
}